// ---------------------------VARIABLES----------------------------
$background-color: #f8f8f8;
$card-background-color: #ffffff;
$card-padding: 4.6875rem;
$card-border-radius: 1.5625rem;
// ---------------------------VARIABLES---------------------------- 

.container-register {
	min-width: 200px;
	width: 100%;
	height: 100%;
	background-color: var(--v-mainBg-base) !important;
}

.card-container {
	padding: $card-padding;

	border-radius: $card-border-radius !important;
	background-color: $card-background-color;

	a {
		text-decoration: none;
	}

	@media screen and (max-width: 960px) {
		padding: 2.5rem 0
	}
}